@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #ecf0f1;
}

body .main {
  width: 1366px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

body .main .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 45px 0;
}

body .main .header .logo {
  background: url(../img/Logo.png) no-repeat;
  width: 365px;
  height: 46px;
  margin: 0 0 0 10px;
}

body .main .header .menu {
  display: flex;
  margin: 0 10px 0 0;
}

body .main .header .menu li {
  margin-right: 20px;
  color: #3498db;
  font-weight: inherit;
}

body .main .header .menu li:last-child {
  margin-right: 0;
}

body .main .header .menu .active {
  color: #8e44ad;
}

body .main .content {
  margin: 0 60px 45px 60px;
  display: flex;
}

body .main .content .card {
  background-color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 182px;
  margin-left: 10px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: -2px -2px 5px #fff, 4px 4px 10px #bdc3c7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body .main .content .card .card-text {
  margin: 25px 0 0 10px;
}

body .main .content .card .card-text .card-title {
  font-weight: 500;
  color: #8e44ad;
  margin-bottom: 14px;
}

body .main .content .card .card-text .card-plan, body .main .content .card .card-text .card-fact {
  color: #3498db;
  margin-bottom: 14px;
}

body .main .content .card .card-text .card-tendention-red {
  color: #e74c3c;
}

body .main .content .card .card-text .card-tendention-green {
  color: #16a085;
}

body .main .content .card .card-text .digit {
  font-weight: 500;
}

body .main .content .card .card-text .digit-red {
  font-weight: 500;
}

body .main .content .card .card-text .digit-green {
  font-weight: 500;
}

body .main .content .card .progress-bar {
  position: relative;
}

body .main .content .card .progress-bar .down-circle {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -2px -2px 5px #fff, 4px 4px 10px #bdc3c7;
  overflow: hidden;
}

body .main .content .card .progress-bar .down-circle .progress-month {
  position: absolute;
  top: 99px;
  opacity: 24%;
}

body .main .content .card .progress-bar .down-circle .progress-day {
  position: absolute;
  top: 30px;
  opacity: 77%;
}

body .main .content .card .progress-bar .down-circle .up-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 25px;
  top: 25px;
  background-color: #ecf0f1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -2px -2px 5px #fff, 4px 4px 10px #bdc3c7;
}

body .main .content .card .progress-bar .down-circle .up-circle .percent {
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  color: #3498db;
  left: 17px;
  top: 29px;
}

body .main .content .card .arrow {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 149px;
  margin: 18px 10px 0 0;
  background: url(../img/ArrowDown.png);
}

body .main .content .card .arrow .percent {
  font-size: 14px;
  color: #ecf0f1;
  font-weight: 700;
  margin-right: 5px;
}

body .main .footer {
  margin: 25px 0 25px 10px;
}

body .main .footer h2 {
  color: #95a5a6;
  font-size: 16px;
}
