@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

@import "zeroStyle";
@import "login";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: #ecf0f1;

    .main {
        width: 1366px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @import "header";
        @import "content";
        @import "footer";
    }
}